.opp{
    display: flex;
    align-items: right;
    background-color: rgb(243, 223, 242);
    justify-content: space-between;
    padding: 10px;
    
    
} 

.pps{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}
.a{
    background-color: aqua;
    height: 25px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
}


.io{
    display: flex;
    align-items: center;
}


.text{
    background-color: red;
    height: 100px;
    width:100px;
    margin: 0px;
    padding: 0px;
    
    
}
.abc{
    background-color: violet;
    height: 100px;
    width:100px;
    
}
.circle{
     background-color:aqua;
    height: 100px;
    width:100px;
    
}
.lol{
    background-color: green;
    height: 100px;
    width:100px;
}
.tech{
    display: flex;
    padding: 50px;
    width: 50%;
    margin-right: 10px;
   }
   .graph{
    color:blue;
    width: 50%;
    margin-left:10px ;
   }
.par{
    display: flex;
    align-items: normal;
    justify-content: space-evenly;
}
.c1{
    background-color: yellow;
    height: 100px;
    width:100px;
}
.c2{
 background-color: black;
    height: 100px;
    width:100px;
}
.c3{
     background-color: orange;
    height: 100px;
    width:100px;
}